body {
  font-family: sans-serif;
  color: #fff;
  font-size: 2.5em;
}

@media only screen and (min-width:769px){
  .s-container {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-column-gap:.5em;
  }
  div.item2, div.item3 {
    height: 350px;
  }
  div.item>p {
    font-size: 1.5em;
  }
}

@media only screen and (max-width:768px){
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 60% auto;
  }
  div.item1, div.item3 {
    height: 100px;
  }
  p.item {
    font-size: 1.5em;
  }
}

.item {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  margin-bottom: .5em;
}

.item1 {
  background: #F7EA00;
}

.item2 {
  background: #34EAA9;
  height: 250px;
}

.item3 {
  background: #E486EA;
  height: auto;
}
